html {
  background: var(--WrapperColor);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--basicWhite);
}

.app {
  background: var(--WrapperColor);
  font-family: "Montserrat";
  color: var(--greySoftColor);
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 20px;
}

.icon {
  fill: var(--greySoftColor);
}

.container {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 0 20px;
  flex-wrap: wrap;
}



