
:root {
  --WrapperColor: #212123;
  --softColor: #8B57C6;
  --textColor: #F6F6F7;
  --greySoftColor: #576067;
  --bgColor: #191919;
  --purpleColor: #6C3EB8;
  --textGreyColor: #B8B8B8;
  --superSoftColor: #616E74;
}